<p>Product-Create works!</p>
<form [formGroup]="reactiveForm" (submit)="create()">
  <label>Name</label>
  <label>
    <input placeholder="Ex: Kẹo" formControlName="name">
  </label>
  <br>
  <label>DateOfBirth</label>
  <label>
    <input type="date" formControlName="dateOfBirth">
  </label>
  <br>
  <label>Gender</label>
  <label>
    <input type="number" formControlName="gender" placeholder="1 là nam , 2 là nữ , 3 là gt3">
  </label>
  <br>
  <label>ID Card</label>
  <label>
    <input type="text" formControlName="idCard" name="idCard">
  </label>
  <br>
  <label>Phone Number</label>
  <label>
    <input type="text" formControlName="phoneNumber" name="phoneNumber">
  </label>
  <br>
  <label>Email</label>
  <label>
    <input type="text" formControlName="email" name="email">
  </label>
  <br>
  <label>Address</label>
  <label>
    <input type="text" formControlName="address" name="address">
  </label>
  <br>
  <label>CustomerType</label>
  <label>
    <select formControlName="customerType">
      <option *ngFor="let customerType of customerType" [ngValue]="customerType">{{customerType.name}}</option>
    </select>
  </label>
  <br>
  <br>
  <input type="submit" value="Thêm mới">
</form>
