<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2 style="font-size: 60px;">Customer Management</h2>
      <h5>
        <button class="button button-view" routerLink="/customer/create">Create</button>
      </h5>
    </header>
    <section id="content">
      <div class="table-responsive">
        <div class="table-wrapper">
          <table class="alt table table-danger table-hover">
            <thead>
            <tr>
              <th>NO</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Address</th>
              <th>Email</th>
              <th>Customer Type</th>
              <th>Id Card</th>
              <th>Phone Number</th>
              <th colspan="2">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let customer of customerList, let i = index">
              <td>{{i + 1}}</td>
              <td>{{customer.name}}</td>
              <td *ngIf="customer.gender == null">{{customer.gender}}</td>
              <td *ngIf="customer.gender == 0">Nam</td>
              <td *ngIf="customer.gender == 1">Nữ</td>
              <td *ngIf="customer.gender == 2">Khác</td>

              <td>{{customer.address}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.customerType.name}}</td>
              <td>{{customer.idCard}}</td>
              <td>{{customer.phoneNumber}}</td>
              <td>
                <button style="margin-right: 50px" class="button button-edit"
                        [routerLink]="['/customer/edit',customer.id]">Edit
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-primary" (click)=" removeCustomer = customer" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Delete
                </button>
              </td>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <span>Do you want to delete  </span><span style="color: red">{{removeCustomer.name}}</span><span>  ?</span>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" (click)="deleteCustomer()" data-bs-dismiss="modal" class="btn btn-primary">Xóa</button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </div>
</div>
